server:
  port: 9000  # 게이트웨이 포트 지정

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

# 게이트웨이 라우팅 설정
spring:
  application:
    name : apigateway-service
  profiles:
    active: local
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/login
            - Method=POST
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/user-service/(?<segment>.*), /$\{segment}

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/users/**  # /api/v1/users/** 경로로 들어오는 요청을 user-service로 라우팅
        - id: admin-service
          uri: lb://admin-service
          predicates:
            - Path=/api/v1/admins/**
        - id: event-service
          uri: lb://event-service
          predicates:
            - Path=/api/v1/events/**
        - id: queue-service
          uri: lb://queue-service
          predicates:
            - Path=/api/v1/queues/**
        - id: ticketing-service
          uri: lb://ticketing-service
          predicates:
            - Path=/api/v1/ticketing/**
        - id: face-service
          uri: lb://FACE-SERVICE
          predicates:
            - Path=/api/v1/faces/**
#          filters:
#            - AuthorizationHeaderFilter