.react-calendar {
    border: 0px;
}

/* 달력 헤더 스타일 */
.react-calendar__navigation {
    height: 30px;
    /* 헤더 높이 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    /* 네비게이션과 날짜 영역 사이의 공백 제거 */
}

/* 달 이름과 연도 텍스트 스타일 */
.react-calendar__month-view__header {
    font-size: 20px;
    /* 달 이름 및 연도 폰트 크기 */
    font-weight: bold;
    /* 폰트 두께 */
    color: #333;
    /* 텍스트 색상 */
    text-transform: uppercase;
    /* 대문자 스타일 */
    margin: 0;
    /* 달력 헤더와 날짜 영역 사이의 공백 제거 */
}

/* 네비게이션 버튼(이전/다음 달) 스타일 */
.react-calendar__navigation button {
    font-size: 13px;
    /* 버튼 폰트 크기 */
    background-color: transparent;
    border: none;
    color: #f44336;
    /* 버튼 텍스트 색상 */
    cursor: pointer;
    transition: color 0.3s ease;
}

.react-calendar__navigation button:hover {
    color: #f44336;
    /* 버튼 hover 색상 */
}




/* 달력 타일 기본 스타일 */
.react-calendar__tile {
    height: 20px;
    /* 날짜 타일 높이 */
    width: 30px;
    /* 날짜 타일 너비 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    /* 날짜 숫자 크기 */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid white !important;
    /* 테두리 설정 */
    background-color: white;
    /* 기본 배경은 흰색 */
}

/* 타일에 커서 올렸을 때 (hover) 스타일 */
.react-calendar__tile:hover {
    background-color: red !important;
    /* 배경을 빨간색으로 변경 */
    color: white !important;
    /* 텍스트는 흰색으로 변경 */
}

/* 선택된 날짜 스타일 */
.selected-date {
    background-color: #f44336 !important;
    /* 선택된 날짜 배경은 빨간색 */
    color: white !important;
    /* 텍스트는 흰색 */
}

/* 현재 날짜 스타일 */
/* .react-calendar__tile--now { */
/* background-color: #2196F3 !important; */
/* 현재 날짜는 파란색 */
/* color: white !important; */
/* 텍스트는 흰색 */
/* font-weight: bold; */
/* } */

/* 예매 가능일 스타일 */
.available-date {
    background-color: #fbe4a6;
    /* 예매 가능일 배경은 연한 노란색 */
    color: white;
}

/* hover 상태에서의 예매 가능일 스타일 */
.available-date:hover {
    background-color: red !important;
    /* hover 시 빨간색 */
    color: white !important;
}