server:
  port: 0 # # 사용 가능한 임의의 포트 할당합니다.

spring:
  application:
    name: user-service  # 이 서비스의 이름을 설정합니다. Eureka 서버에 등록될 때 사용됩니다.

eureka:
  instance:
    instance-id: ${spring.cloud.client.hostname}:${spring.application.instance_id:${random.value}}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/  # Eureka 서버의 URL을 지정합니다.
      register-with-eureka: true  # 이 서비스가 Eureka 서버에 등록되도록 설정합니다.
      fetch-registry: true  # Eureka 서버로부터 다른 서비스 정보를 받아오도록 설정합니다.